<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyberlanting.qwen_rag.mapper.FileMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into file(knowledge_base_id, name, url, created_at, updated_at)
        values (#{knowledgeBaseId}, #{name}, #{url}, #{createdAt}, #{updatedAt})
    </insert>
    <delete id="delete">
        delete from file where id = #{id}
    </delete>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from file where knowledge_base_id = #{knowledgeBaseId}
    </select>
    <select id="getFileList" resultType="com.cyberlanting.qwen_rag.pojo.vo.FileVO">
        select id, knowledge_base_id, name, url, created_at, updated_at
        from file
        where knowledge_base_id = #{knowledgeBaseId}
        limit #{offset}, #{pageSize}
    </select>
    <select id="getFileById" resultType="com.cyberlanting.qwen_rag.pojo.entity.File">
        select id, knowledge_base_id, name, url, created_at, updated_at
        from file
        where id = #{id}
    </select>
</mapper>