.main {
  max-height: 100vh;
  padding-bottom: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main .nav {
  font-size: 22px;
  padding: 20px;
  padding-right: 50px;
  color: #585858;
  white-space: nowrap;
}
body.dark .main .nav {
  color: #c7c7c7;
}

.main .nav img {
  width: 40px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-container {
  width: 900px;
  margin: auto;
}
.main .user-container {
  justify-self: right;
  margin-right: 20px;
}

.main .greet {
  margin: 10px 0px;
  font-size: calc(20px + 2vh); /* 根据屏幕高度动态调整字体大小 */
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}

.main .greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* 自动调整列数并根据屏幕宽度缩放 */
  gap: calc(10px + 0.5vh); /* 间隙也随高度变化 */
  padding: 15px;
}

.main .cards .card {
  height: auto;
  min-height: calc(50px + 5vh); /* 高度随视口高度增长 */
  padding: 10px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
body.dark .main .cards .card {
  background-color: #1f2d3d;
}

.main .cards .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.main .cards .card p {
  color: #585858;
  font-size: 17px;
}
body.dark .main .cards .card p {
  color: #cacaca;
}

.main .cards .card:hover {
  background-color: #dfe4ea;
}

.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 50px;
}
body.dark .search-box {
  background-color: #2c2c2c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-box img {
  width: 24px;
  cursor: pointer;
  margin: 0px 7px;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

body.dark .search-box input {
  color: #ababab;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.main .bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}
body.dark .main .bottom-info {
  color: #a9a9a9;
}

.result {
  padding: 0px 5%;
  margin-top: 5vh;
  height: 80vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar {
  display: none;
}

.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.result img {
  width: 40px;
  border-radius: 50%;
}

.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s linear infinite;
}

@keyframes loader {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}

@media screen and (max-width: 600px) {
  .main-bottom input {
    flex: none;
    width: 150px;
  }

  .main-bottom img {
    width: 20px;
  }
  .search-box {
    padding: 5px 10px;
  }

  .search-box div {
    gap: 5px;
  }
}
